#!/bin/bash
# ----------------------------------------------------------- 
# UNIX Shell Script File
# Tested Operating System(s): RHEL 5,6
# Tested Run Level(s): 3, 5
# Shell Used: BASH shell
# Original Author(s): Ali Salimi-Tarazouj
# File Creation Date: 02/10/2023
# Date Last Modified: 
#
# Version control: 1.14
#
# Support Team:
#
# Contributors:
#
# ----------------------------------------------------------- 
# ------------- Program Description and Details ------------- 
# ----------------------------------------------------------- 
#
# Job Card to set the resources required for a NWPS run
#
# ----------------------------------------------------------- 
#SBATCH -J %WFO%_prep_r
#SBATCH -A marine-cpu
#SBATCH -n 1
#SBATCH -q batch
#SBATCH --cpus-per-task=1            # Number of cores per MPI rank (for hyperthreading)
#SBATCH --nodes=1                 # Number of nodes
#SBATCH --ntasks-per-node=1     # How many tasks on each node
#SBATCH -t 01:25:00
#SBATCH -o jobslurm.out
#SBATCH --output=/scratch1/NCEPDEV/stmp2/Ali.Salimi/com/retro/nwps/v1.5.0/NWPS_%WFO%_prep.o
#SBATCH --error=/scratch1/NCEPDEV/stmp2/Ali.Salimi/com/retro/nwps/v1.5.0/NWPS_%WFO%_prep.o


cd $SLURM_SUBMIT_DIR

# Setup and load modules
export HOMEnwps=${NWPSdir}
VERSION_FILE=${HOMEnwps}/versions/run_hera.ver
if [ -f $VERSION_FILE ]; then
  . $VERSION_FILE
else
  ECFNAME="jnwps_prep.ecf"
  echo "***JOB ${ECFNAME} ERROR: Version File $VERSION_FILE does not exist ***"
  exit
fi

module purge
module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack
module load hpc/1.1.0
module load hpc-intel/18.0.5.274
module load hpc-impi/2018.0.4
module load netcdf/4.7.4
module load g2c/1.6.2
module load jasper/2.0.25
module load zlib/1.2.11
module load png/1.6.35
module load hdf5/1.10.6
module load bacio/2.4.1
module load g2/3.4.1
module load w3nco/2.4.1
module use /scratch1/NCEPDEV/mdl/apps/modulefiles
module load CFP/2.0.1
module load esmf/8_1_1
module netcdf/4.6.1
module load wgrib2/2.0.8
module load prod_util/1.2.2
module load grib_util/1.2.4
module list


export FORT_BUFFERED=true
export NWPSplatform="DEVHERA"
export MP_PGMMODEL=mpmd
export MP_CSS_INTERRUPT=yes
export WFO="%WFO%"
export siteid=${WFO}
export SITEID=${WFO^^}
export KEEPDATA="YES"
export model="nwps"
export MODEL=${model^^}

export envir="para"

export DEVHERA_USER=$(whoami)
export COMROOT=/scratch1/NCEPDEV/stmp2/${DEVHERA_USER}/com/retro

#Dev environment value for $job and $jobid
export job=pnwps_${WFO}_prep_ret
export jobid=pnwps_${WFO}_prep_ret.$$

#Dev environment jlogfile
export ver=${nwps_ver}
mkdir -p /scratch1/NCEPDEV/stmp2/${DEVHERA_USER}/$NET/$ver/retro/logs/jlogfiles
export jlogfile=/scratch1/NCEPDEV/stmp2/${DEVHERA_USER}/$NET/$ver/retro/logs/jlogfiles/jlogfile.${job}

#Set platform
export HERA_SYSTEM=$( echo $COMROOTp1 | cut -c7 )d1
export HERA_SYSTEM_COM=$( echo $COMROOTp1 | cut -c7-9 )

${HOMEnwps}/dev/jobs/J${MODEL}_PREP_RET

#%include <tail.h>

#%manual
################################################################################
#TASKSCRIPT DOCUMENTATION BLOCK
#TASKSCRIPT:     jnwps_%WFO%_prep
#LAST MODIFIER:  Roberto Padilla
#ORGANIZATION:   NP11
#DATE:           SEP 2014
#FULL NAME:    /nwps_para/nwps/SR/j%WFO%
#PURPOSE:  To execute the job that creates NWPS %WFO% GRIB output files
#JOB SCRIPT CALLED: ${NWROOT}/jobs/JNWPS ==>
#                            ${NWROOT}/scripts/exnwps_prep.sh.ecf
#################################################################################
######################################################################
# Job specific troubleshooting instructions:
#  see generic troubleshoot manual page
#
######################################################################
#%end
