#!/bin/bash --login
# ----------------------------------------------------------- 
# UNIX Shell Script File
# Tested Operating System(s): RHEL 5,6
# Tested Run Level(s): 3, 5
# Shell Used: BASH shell
# Original Author(s): Roberto Padilla-Hernandez
# File Creation Date: 02/01/2015
# Date Last Modified:
#
# Version control: 1.14
#
# Support Team:
#
# Contributors: Floyd fayton
#
# ----------------------------------------------------------- 
# ------------- Program Description and Details ------------- 
# ----------------------------------------------------------- 
#
# Job Card to set the resources required for a NWPS run
#
# ----------------------------------------------------------- 
#SBATCH -A marine-cpu
#SBATCH -n 1
#SBATCH -q batch
#SBATCH --cpus-per-task=1   
#SBATCH --nodes=1         
#SBATCH --ntasks-per-node=1 
#SBATCH --mem=20G
#SBATCH -t 08:00:00
#SBATCH -J %WFO%_po_c1r
#SBATCH -o jobslurm.out
##module load slurm
#SBATCH --output=/scratch1/NCEPDEV/stmp2/Ali.Salimi/com/retro/nwps/v1.5.0/NWPS_lox_post__cg1.o
#SBATCH --error=/scratch1/NCEPDEV/stmp2/Ali.Salimi/com/retro/nwps/v1.5.0/NWPS_lox_post__cg1.o


cd $SLURM_SUBMIT_DIR

# Setup and load module
export HOMEnwps=${NWPSdir}
VERSION_FILE=${HOMEnwps}/versions/run_hera.ver
if [ -f $VERSION_FILE ]; then
  . $VERSION_FILE
else
  ECFNAME="jnwps_prep.ecf"
  echo "***JOB ${ECFNAME} ERROR: Version File $VERSION_FILE does not exist ***"
  exit
fi

module use /scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/modulefiles/stack
module load hpc/1.2.0
module load hpc-intel/2022.1.2
module load hpc-impi/2022.1.2
module load netcdf/4.7.4
module load g2c/1.6.4
module load jasper/2.0.25
module load zlib/1.2.11
module load libpng/1.6.37
module load hdf5/1.10.6
module load bacio/2.4.1
module load g2/3.4.5
module load w3nco/2.4.1
module use /scratch1/NCEPDEV/mdl/apps/modulefiles
module load prod_util/1.2.2
module load grib_util/1.2.4
module load CFP/2.0.1
module load esmf/8_1_1
module load wgrib2/2.0.8
module load python/3.8
module list

PATH=${NWPSdir}/lib/netcdf/${netcdf_ver}/bin:$PATH
PATH=${NWPSdir}/lib/hdf5/${hdf5_ver}/bin:$PATH
PATH=${NWPSdir}/lib/zlib/${zlib_ver}/bin:$PATH
LD_LIBRARY_PATH=${NWPSdir}/lib/netcdf/${netcdf_ver}/lib:$LD_LIBRARY_PATH
LD_LIBRARY_PATH=${NWPSdir}/lib/hdf5/${hdf5_ver}/lib:$LD_LIBRARY_PATH
LD_LIBRARY_PATH=${NWPSdir}/lib/zlib/${zlib_ver}/lib:$LD_LIBRARY_PATH

NETCDF_VERSION=${netcdf_ver}
NetCDF=${NWPSdir}/lib/netcdf/${netcdf_ver}
NETCDF_ROOT=${NWPSdir}/lib/netcdf/${netcdf_ver}
HDF5_ROOT=${NWPSdir}/lib/hdf5/${hdf5_ver}
ZLIB=${NWPSdir}/lib/zlib/${zlib_ver}
NETCDF_LIBRARIES=${NWPSdir}/lib/netcdf/${netcdf_ver}/lib
HDF5_LIBRARIES=${NWPSdir}/lib/hdf5/${hdf5_ver}/lib
ZLIB_LIBRARIES=${NWPSdir}/lib/zlib/${zlib_ver}/lib
NETCDF_INCLUDES=${NWPSdir}/lib/netcdf/${netcdf_ver}/include
HDF5_INCLUDES=${NWPSdir}/lib/hdf5/${hdf5_ver}/include
ZLIB_INCLUDES=${NWPSdir}/lib/zlib/${zlib_ver}/include
export WGRIB2=/scratch2/NCEPDEV/nwprod/hpc-stack/libs/hpc-stack/intel-18.0.5.274/impi-2018.0.4/wgrib2/2.0.8/bin/wgrib2

export FORT_BUFFERED=true
export NWPSplatform="DEVHERA"
export MP_PGMMODEL="mpmd"
export MP_CSS_INTERRUPT="yes"
export WFO="%WFO%"
export siteid=${WFO}
export SITEID=${WFO^^}
export N="1"
export KEEPDATA="YES"
export model="nwps"
export MODEL=${model^^}

export envir="para"

export DEVHERA_USER=$(whoami)
export COMROOT=/scratch1/NCEPDEV/stmp2/${DEVHERA_USER}/com/retro

#Dev environment value for $job
export job=pnwps_${WFO}_po_cg1_ret
export jobid=pnwps_${WFO}_po_cg1_ret.$$

#Dev environment jlogfile
export ver=${nwps_ver}
mkdir -p /scratch1/NCEPDEV/stmp2/${DEVHERA_USER}/$NET/$ver/retro/logs/jlogfiles
export jlogfile=/scratch1/NCEPDEV/stmp2/${DEVHERA_USER}/$NET/$ver/retro/logs/jlogfiles/jlogfile.${job}

#Set platform
export WCOSS_SYSTEM=$( echo $COMROOTp1 | cut -c7 )d1
export WCOSS_SYSTEM_COM=$( echo $COMROOTp1 | cut -c7-9 )

# Wait for upstream component job to finish
while [ -z $(grep 'COMPLETED NORMALLY' /scratch1/NCEPDEV/stmp2/${DEVHERA_USER}/$NET/$ver/retro/logs/jlogfiles/jlogfile.pnwps_%WFO%_fc_cg1_ret | awk '{print $1}') ]
do
   if [ ! -z $(grep 'FAILED' /scratch1/NCEPDEV/stmp2/${DEVHERA_USER}/$NET/$ver/retro/logs/jlogfiles/jlogfile.pnwps_%WFO%_fc_cg1_ret | awk '{print $1}') ]
   then
       msg="FATAL ERROR: Upstream job pnwps_%WFO%_fc_cg1 failed"
       postmsg "$jlogfile" "$msg"
       export err=1; err_chk
   fi
   echo 'Waiting for pnwps_%WFO%_fc_cg1 to complete, at date'
   date
   sleep 60
done

${NWROOT}/dev/jobs/J${MODEL}_POST_RET

################################################################################
#TASKSCRIPT DOCUMENTATION BLOCK
#TASKSCRIPT:     jnwps_%FAMILY1%_post_cg%N%
#LAST MODIFIER:  Floyd Fayton
#ORGANIZATION:   NP11
#DATE:           SEP 2014
#FULL NAME:    /nwps_para/nwps/SR/j%WFO%
#PURPOSE:  To execute the job that creates NWPS %WFO% GRIB output files
#JOB SCRIPT CALLED: /nwprod/nwps.${nwps_ver}/jobs/JNWPS ==>
#                            /nwprod/nwps.${nwps_ver}/scripts/exnwps_post_cg%N%.sh.ecf
#################################################################################
######################################################################
# Job specific troubleshooting instructions:
#  see generic troubleshoot manual page
#
######################################################################
#%end
